body{
    background-color: antiquewhite;
}
button{
    margin: 5px;
    background-color: #b23134;
    color:white;
}
#entry{
    background-color: #4d4c52;
    color:white;
    padding: 2px;
    margin: 0px;
}
.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 50%;
}
.done{
    text-decoration: line-through;
}